.css-1q2h7u5 {
  color: white !important;
}
.css-ttwr4n {
  background-color: green !important;
}
.css-1q2h7u5.Mui-selected {
  color: green !important;
}
.text2-color {
  color: white;
  height: 0px;
  margin: 32px;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}
